.folders {
  display: flex;
  width: 450px;
 max-width: 600px;

  &__buttons {
    button {
      margin-top: 10px;
    }

    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }

  i {
    margin-left: 5px
  }
}
