<div class="folders">
  <div class="folders__buttons">
    <button nz-button nzType="primary"
      ><i nz-icon nzType="folder-add" nzTheme="outline"></i>Добавить Папку</button
    >
    <button nz-button nzType="primary">
      <i nz-icon nzType="snippets" nzTheme="outline"></i>Добавить Объект
    </button>
  </div>

  <nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource">
    <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodeIndentLine>
      <nz-tree-node-toggle nzTreeNodeNoopToggle>
        <i nz-icon nzType="file" nzTheme="outline"></i>
      </nz-tree-node-toggle>
      <nz-tree-node-option>
        {{ node.name }}
      </nz-tree-node-option>
    </nz-tree-node>

    <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodeIndentLine>
      <nz-tree-node-toggle>
        <i
          nz-icon
          [nzType]="treeControl.isExpanded(node) ? 'minus-square' : 'plus-square'"
          nzTheme="outline"
        ></i>
      </nz-tree-node-toggle>
      <nz-tree-node-option
        nz-tooltip
        [nzTooltipTitle]="titleTemplate"
        [nzTooltipTitleContext]="{ $implicit: 'Icon' }"
        nzTooltipPlacement="right"
      >
        {{ node.name }}
        <ng-template #titleTemplate let-thing>
          <i
            [ngStyle]="{ cursor: 'pointer' }"
            (click)="deleteFolder(node)"
            nz-icon
            nzType="delete"
            nzTheme="outline"
          ></i>
        </ng-template>
      </nz-tree-node-option>
    </nz-tree-node>
  </nz-tree-view>
</div>
