<ng-container>
  <sibintek-header></sibintek-header>
  <sibintek-counter></sibintek-counter>
  <main class="container">
    <router-outlet></router-outlet>
    <!--    Description of project-->
    <nz-timeline>
      <nz-timeline-item>Интерфейс для отображения папок и объектов</nz-timeline-item>
      <nz-timeline-item
        >Предоставлена возможность удаления объектов и папок, редактирование имен и изменения папки
        для объекта</nz-timeline-item
      >
      <nz-timeline-item
        >Для редактирования нажмите на объект, для удаления папки наведите на нее, после чего
        появится tooltip</nz-timeline-item
      >
    </nz-timeline>
  </main>
</ng-container>
